doctype 
html
	head
		title "DoIt"
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",rel="stylesheet",type="text/css")
		link(href="/styles/Assignment/styles.css",rel="stylesheet",type="text/css")
	body
		.logolink
		.container
			.row
				.col-lg-3.groups
					h4.group GroupA
					ul.teams 
						li#1 1
						li#2 1
						li#3 1
						li#4 1
				.col-lg-3.groups
					h4.group GroupB
					ul.teams 
						li#5 1
						li#6 1
						li#7 1
						li#8 1
				.col-lg-3.groups
					h4.group GroupC
					ul.teams 
						li#9 1
						li#10 1
						li#11 1
						li#12 1
				.col-lg-3.groups
					h4.group GroupD
					ul.teams 
						li#13 1
						li#14 1
						li#15 1
						li#16 1
				.col-lg-3.groups
					h4.group GroupE
					ul.teams 
						li#17 1
						li#18 1
						li#19 1
						li#20 1
				.col-lg-3.groups
					h4.group GroupF
					ul.teams 
						li#21 1
						li#22 1
						li#23 1
						li#24 1
				.col-lg-3.groups
					h4.group GroupG
					ul.teams 
						li#25 1
						li#26 1
						li#27 1
						li#28 1
				.col-lg-3.groups
					h4.group GroupH
					ul.teams 
						li#29 1
						li#30 1
						li#31 1
						li#32 1
	script(type="text/javascript",src="/styles/Assignment/app.js")
			