body{
	background-image: url("background.jpg");
	background-size: 130%; 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
}
html {
	height:100%;
}
.container{
	color: white;
	margin-top: 100px;
}
ul {
  list-style-type: none;
}
.teams,.groups{
	text-align: left;
	margin: 8px 0px;
	font-size: 120%;
	padding: 0px;
}
.group{
	font-weight: bold;
	font-size: 150%;
}
.logolink {
	position: center;
	margin: 20px auto;
    width: 100px;
    height: 85px;
    background-image: url(http://img.uefa.com/imgml/uefacom/ucl/logo.svg);
    background-repeat: no-repeat;
    background-size: 100px 85px;
    text-indent: 150%;
    overflow: hidden;
}
.footer{
	color: white;
}
